.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.name-link-wrapper {
    transition: 1s ease-in-out;

    a {
        color: $charcoal;
        text-decoration: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    &:hover {
        font-size: 1.2rem;

        a {
            color: lightpink;
    
        }
    }
}

.nav-link-wrapper {
    margin-left: 20px;
    height: 22px;
    border-bottom: 1px solid transparent;
    // transition: .7s ease-in-out;
    text-transform: uppercase;
    font-size: .9rem;

    a {
        color: slategray;
        text-decoration: none;
        transition: 1s ease-in-out;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        
        &:hover {
            color: $charcoal;
            font-size: 1rem;
            border-top: 1px solid lightpink;
            border-bottom: 1px solid lightpink;
        }
    }

    .nav-link-active {
    border-top: 1px solid lightpink;
    border-bottom: 1px solid lightpink;
    color: $charcoal;
    font-size: 1rem;
    }
}